-- Lược đồ cơ sở dữ liệu đơn giản (Bộ khung đầu tiên)
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    xp INT DEFAULT 0
);

CREATE TABLE periods (
    id SERIAL PRIMARY KEY,
    name VARCHAR(150) NOT NULL,
    description TEXT
);

CREATE TABLE events (
    id SERIAL PRIMARY KEY,
    period_id INT REFERENCES periods(id) ON DELETE CASCADE,
    name VARCHAR(200) NOT NULL,
    year VARCHAR(50) NOT NULL,
    description TEXT
);

CREATE TABLE lessons (
    id SERIAL PRIMARY KEY,
    event_id INT REFERENCES events(id) ON DELETE CASCADE,
    title VARCHAR(200) NOT NULL,
    content TEXT
);

CREATE TABLE questions (
    id SERIAL PRIMARY KEY,
    lesson_id INT REFERENCES lessons(id) ON DELETE CASCADE,
    question TEXT NOT NULL,
    option_a VARCHAR(255) NOT NULL,
    option_b VARCHAR(255) NOT NULL,
    option_c VARCHAR(255) NOT NULL,
    option_d VARCHAR(255) NOT NULL,
    correct_answer VARCHAR(1) CHECK (correct_answer IN ('A', 'B', 'C', 'D'))
);

CREATE TABLE user_progress (
    user_id INT REFERENCES users(id) ON DELETE CASCADE,
    lesson_id INT REFERENCES lessons(id) ON DELETE CASCADE,
    completed BOOLEAN DEFAULT FALSE,
    PRIMARY KEY (user_id, lesson_id)
);

